.header {
  display: flex;
  gap: 0.75rem;
  background: var(--gray-700);
  justify-content: center;
  padding: 4.5rem 0 5rem;
}

.header h1 {
  color: var(--blue);
}
.header h1 span {
  color: var(--purple-dark);
}