.content {
  width: 50%;
  margin: 0 auto;
}

.emptyTaskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 1rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyTaskMessage {
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskList ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.individualTask {
  background: var(--gray-500);
  padding: 1rem;
  list-style: none;
  display: flex;
  align-items: start;
  gap: 0.75rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.individualTask input {
  display: none;
}

.individualTask .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 1.125rem;
  width: 1.125rem;
  cursor: pointer;
}

.individualTask .checkbox.done {
  background: var(--purple-dark);
  color: var(--white);
  transition: 0.3s;
}

.individualTask .checkbox.done:hover {
  background: var(--purple);
}

.individualTask .checkbox.pending {
  background: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: 0.3s;
}

.individualTask .checkbox.pending:hover {
  background: rgba(30, 111, 159, 0.5);
}

.individualTask span {
  flex: 1;
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.4;
}

.individualTask .checked {
  flex: 1;
  color: var(--gray-300);
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: line-through;
  transition: 0.3s;
}

.individualTask button {
  background: transparent;
  color: var(--gray-300);
  border: 0;
  line-height: 0;
  border-radius: 4px;
  padding: 0.3125rem;
  cursor: pointer;
}

.individualTask button:hover {
  color: var(--red-400);
  background: var(--gray-400);
}
